<!DOCTYPE html>
<html>
<title>Medical Document Sorter</title>
<head>
<link
rel="shortcut icon"
type="image/x-icon"
href="https://user-images.githubusercontent.com/20112458/49326597-773b7280-f57a-11e8-853d-20ed61d18b0d.png"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

 <body>
<style>
  h1 {
    background-color: #a8b1f4;
    display: inline-block;
    font-size: 3em;
    margin: 0;
    padding: 14px;
    position:absolute;top:5%;left:5%;
    position:fixed;
  }
</style> 
<h1>
<img
src="{{url_for('static', filename='favicon.ico')}}"
style="width:50px;height:50px;"
position:fixed;
position:absolute;top:5%;left:5%;
/>Medical Document Sorter, a beginning

</h1>
</body>
</html>